$color--black: #000;
$color--white: #fff;

html {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: min(16px, 5vw);
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  color: #222;
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;

  overflow: scroll;
  #root {
    overflow: scroll;
    header {
      margin: 0.5rem;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0 1rem;

      #title-wrapper {
        display: flex;
        align-items: flex-end;
        min-height: 3rem;
        margin-bottom: 1rem;

        > h1 {
          margin-right: 0.5rem;
          max-width: calc(100vw - 3rem);
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        > button {
          width: 2rem;
          height: 2rem;
          border: none;

          background: url('/src/assets/ArrowDownFill.svg');
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      ul#market-list {
        background: #fff;
        border: 1px solid #e0e0e0;

        position: absolute;
        top: 3.5rem;
        left: 0;
        height: 10rem;
        overflow-y: scroll;
        z-index: 1;
        width: min(100vw, 17rem);
        &.closed {
          display: none;
        }

        li {
          display: flex;
          align-items: center;
          height: 2rem;
          padding: 0 0.5rem;

          &.on-hover {
            background: #222;
            color: #fff;
          }
        }
      }

      #unit-button-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem;

        margin-top: 0.5rem;
        margin-bottom: 0.8rem;

        position: relative;
        z-index: 1;

        button {
          background: #fff;
          border: 1px solid #aaa;
          outline: none;
          padding: 0.4rem 0;
          width: 2.3rem;
          height: 2rem;
          user-select: none;

          &.selected {
            color: #fff;
            background: #333;
          }
        }

        ul#minute-unit-list {
          position: absolute;
          top: 2.2rem;
          left: 0;
          background: #fff;
          border: 1px solid #aaa;
          font-size: 0.8rem;

          display: none;
          &.open {
            display: block;
          }

          > li {
            height: 1.5rem;
            padding: 0 0.3rem;
            display: flex;
            align-items: center;
            cursor: default;

            &.on-hover {
              background-color: #333;
              color: #fff;
            }
          }
        }
      }
    }
    #canvas-outer-wrapper {
      position: relative;
      border: 1px solid #aaa;

      canvas {
        position: relative;
      }

      #canvas-inner-wrapper {
        position: absolute;
        #item-legend-container {
          font-size: 0.7rem;
          padding: 0.5rem 0.3rem;
          margin: 0.6rem;
          background: rgba(255, 255, 255, 0.7);
          border: 1px solid #999;
          user-select: none;
          max-width: 10rem;

          #item-date-wrapper {
            font-size: 0.8rem;
            margin-bottom: 0.5rem;
          }

          #item-legend-wrapper {
            display: flex;
            gap: 0.5rem 0.6rem;
            flex-wrap: wrap;
          }

          .item-legend {
            display: flex;
            justify-content: space-between;
            gap: 0.3rem;
            width: 4.5rem;
          }
        }
      }

      .section-wrapper {
        position: absolute;
      }

      #upper-chart-wrapper {
        background: hsla(60, 60%, 88%, 0.1);
        outline: 1px solid #aaa;
      }
      #lower-chart-wrapper {
        background: hsla(90, 50%, 88%, 0.2);
        outline: 1px solid #aaa;
      }

      #button-wrapper {
        position: absolute;
        display: flex;
        transform: translate(50%, 50%);

        button {
          color: white;
          border: 1px solid hsl(160, 40%, 28%);
          outline: none;
          background-color: hsla(160, 50%, 43%);
          width: min(27px, 10.8vw);
          height: min(25px, 10vw);
          opacity: 0.6;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }

        button#zoom-in {
          background-image: url('../src/assets/Plus.svg');
        }
        button#zoom-out {
          background-image: url('../src/assets/Minus.svg');
        }
        button + button {
          margin-left: 5px;
        }
      }
    }
  }
}
